@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;0,700;1,400&display=swap");
p, h1, h2, h3, h4, h5, h6, label, input, select, textarea, a {
  font-family: "Roboto", sans-serif;
}

.card-text-primary, .card-price, .card-comments {
  font-family: "Roboto", sans-serif;
}

@use "./../abstracts/variables";
body {
  margin: 0px;
}

h1 {
  font-size: 22px;
  font-weight: 500;
}

.nav-items {
  padding: 7px;
}

.list-container {
  width: 70%;
  margin: auto;
}

.list-items {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.nav-items {
  display: flex;
  flex-direction: column;
}

.nav-items-img > img {
  width: 64px;
  height: 64px;
}

.nav-items-txt {
  display: flex;
  justify-content: center;
  color: #212121;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 700;
}

.nav-items-txt:hover {
  color: #2874f0;
}

.nav-items-img {
  box-sizing: border-box;
}

.card {
  padding: 25px 15px;
}

.main-list-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
}

.card-text-primary {
  font-size: 14px;
  font-weight: 500;
  color: #212121;
}

.card-price {
  font-size: 14px;
  color: #388e3c;
}

.card-comments {
  text-overflow: ellipsis;
  font-size: 14px;
  font-weight: 500;
  color: #212121;
}

.nav-arrow {
  transform: rotate(-90deg);
}

.nav-arrow:hover {
  transform: rotate(90deg);
}

.navigation {
  display: flex;
  flex-direction: column;
}

.bg-blue {
  height: 56px;
  background-color: #2874f0;
}

#upper-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0 200px;
}

.upper-left-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.upper-right-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 20%;
}

.search-input {
  width: 564px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #fff;
  justify-content: space-between;
  padding: 0 10px;
}

.input {
  width: 80%;
}

.input > input {
  width: 100%;
  height: 36px;
  border: none;
}

.logo {
  height: 20px;
  width: 75px;
}

.search-icon {
  display: flex;
}

.search-icon > svg {
  background-color: #fff;
  fill: #2874f0;
}

.explore-plus-link > img {
  width: 10px;
  height: 10px;
}

.explore-plus-link {
  font-size: 11px;
  font-style: italic;
  color: #fff;
}

.lower-nav {
  height: 112px;
  width: 100%;
  background-color: white;
}

a {
  text-decoration: none;
}

.nav-link-more {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  margin-right: 5px;
}

.more-container {
  display: inline-block;
  padding: 35px 0;
}
.more-container:hover .dropdown {
  display: block;
}

.nav-more {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: relative;
}

.dropdown {
  position: absolute;
  background-color: #fff;
  width: 200px;
  top: 25px;
  display: none;
}

.outer-container-more {
  width: 15%;
}

.flipkart-plus {
  margin-right: 5px;
}

.more-dropdown-row {
  padding: 5px;
  margin-bottom: 0.5px solid #424141;
}

.login-container {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
}

.btn-login > a {
  background-color: #fff;
  color: #2874f0;
  font-size: 16px;
  font-weight: 500;
  border: none;
  padding: 5px 40px;
}

.btn-login {
  width: 35%;
}

.btn-view-all {
  padding: 5px 10px;
  background-color: #2874f0;
}

.btn-view-all > a {
  background-color: #2874f0;
  color: #fff;
  width: 96px;
  height: 32px;
  font-size: 16px;
  font-weight: 500;
  border: none;
}

.outer-main-content {
  background-color: #f1f3f6;
}

.inner-main-container {
  margin: auto;
  width: 90%;
  padding: 8px;
}

.slider > img {
  width: 100%;
}

.main-list-row {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  padding: 15px 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.main-list-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.main-list-heading {
  font-size: 22px;
  line-height: 32px;
  font-weight: 500;
}

.lg-card-container {
  display: flex;
  flex-direction: row;
  padding: 8px;
  justify-content: space-between;
  background-color: #fff;
}

.lg-card > img {
  height: 293.219px;
  width: 546.609px;
}

.card {
  text-align: center;
  text-overflow: ellipsis;
}

.carousel-container {
  overflow: hidden;
}

.carousel {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 500%;
  animation: 10s slider infinite;
}

.carousel > img {
  width: 20%;
}

@keyframes slider {
  0% {
    left: 0;
  }
  20% {
    left: -100%;
  }
  40% {
    left: -200%;
  }
  80% {
    left: -300%;
  }
}
.carousel-container {
  position: relative;
}

.carousel-btn-left {
  left: 0;
  position: absolute;
  z-index: 3;
  top: 50%;
  height: 40%;
  transform: translateY(-50%);
  margin: -1px;
  width: 3%;
  outline: none;
  background-color: #fff;
  outline: none;
  border: none;
}

.carousel-btn-right {
  right: 0;
  position: absolute;
  z-index: 3;
  top: 50%;
  height: 40%;
  transform: translateY(-50%);
  margin: -1px;
  width: 3%;
  outline: none;
  background-color: #fff;
  outline: none;
  border: none;
}

/*# sourceMappingURL=mains.css.map */
